<h1> Credit Card Analyse

Importing Libraries

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_auc_score

Importing Dataset

In [2]:
sample_origin = pd.read_csv('/Data/Sample Prediction Dataset.csv', delimiter = ',')
data_train_origin = pd.read_csv('/Data/Training Data.csv', delimiter = ',')
data_test_origin = pd.read_csv('/Data/Test Data.csv', delimiter = ',')

sample = sample_origin.copy()
data_train = data_train_origin.copy()
data_test = data_test_origin.copy()

Processing of Data Train

In [3]:
data_train.head()

   Id   Income  Age  ...  CURRENT_JOB_YRS CURRENT_HOUSE_YRS Risk_Flag
0   1  1303834   23  ...                3                13         0
1   2  7574516   40  ...                9                13         0
2   3  3991815   66  ...                4                10         0
3   4  6256451   41  ...                2                12         1
4   5  5768871   47  ...                3                14         1

[5 rows x 13 columns]

In [4]:
data_train.shape

(252000, 13)

In [5]:
data_train.describe()

                  Id        Income  ...  CURRENT_HOUSE_YRS      Risk_Flag
count  252000.000000  2.520000e+05  ...      252000.000000  252000.000000
mean   126000.500000  4.997117e+06  ...          11.997794       0.123000
std     72746.278255  2.878311e+06  ...           1.399037       0.328438
min         1.000000  1.031000e+04  ...          10.000000       0.000000
25%     63000.750000  2.503015e+06  ...          11.000000       0.000000
50%    126000.500000  5.000694e+06  ...          12.000000       0.000000
75%    189000.250000  7.477502e+06  ...          13.000000       0.000000
max    252000.000000  9.999938e+06  ...          14.000000       1.000000

[8 rows x 7 columns]

In [6]:
data_train['Profession'] = pd.factorize(data_train['Profession'])[0]
data_train['CITY'] = pd.factorize(data_train['CITY'])[0]
data_train['STATE'] = pd.factorize(data_train['STATE'])[0]
data_train['Married/Single'] = pd.factorize(data_train['Married/Single'])[0]
data_train['House_Ownership'] = pd.factorize(data_train['House_Ownership'])[0]
data_train['Car_Ownership'] = pd.factorize(data_train['Car_Ownership'])[0]

Data train and the Target of the model

In [7]:
x_train = data_train.drop("Risk_Flag", axis = 1)
y_train = data_train['Risk_Flag']

Spliting the data

In [8]:
X_train, X_test, y_train, y_test = train_test_split(x_train, y_train, test_size = 0.25)

Model using Decision Tree Classifier

In [9]:
DTClassifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
DTClassifier.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

Using the model for predict the test data

In [10]:
y_pred = DTClassifier.predict(X_test)
print(y_pred)

[0 0 0 ... 0 0 0]

The probability of hits of the model

In [11]:
auc = roc_auc_score(y_test, y_pred)
print(auc)

0.7123448595887001

View Data Test

In [12]:
data_test

          ID   Income  Age  ...           STATE CURRENT_JOB_YRS CURRENT_HOUSE_YRS
0          1  7393090   59  ...     West Bengal               4                13
1          2  1215004   25  ...     Maharashtra               5                10
2          3  8901342   50  ...     Maharashtra               9                14
3          4  1944421   49  ...     Maharashtra               3                12
4          5    13429   25  ...     West Bengal              13                11
...      ...      ...  ...  ...             ...             ...               ...
27995  27996  9955481   57  ...  Andhra Pradesh               5                10
27996  27997  2917765   47  ...  Madhya Pradesh               9                14
27997  27998  8082415   24  ...     Maharashtra               4                13
27998  27999  9474180   51  ...    Chhattisgarh              13                14
27999  28000  9250350   42  ...     Maharashtra               4                10

[28000 rows x 12 columns]

In [13]:
data_test['Profession'] = pd.factorize(data_test['Profession'])[0]
data_test['CITY'] = pd.factorize(data_test['CITY'])[0]
data_test['STATE'] = pd.factorize(data_test['STATE'])[0]
data_test['Married/Single'] = pd.factorize(data_test['Married/Single'])[0]
data_test['House_Ownership'] = pd.factorize(data_test['House_Ownership'])[0]
data_test['Car_Ownership'] = pd.factorize(data_test['Car_Ownership'])[0]

Predicting the Test Data

In [14]:
DTClassifier.predict(data_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- ID
Feature names seen at fit time, yet now missing:
- Id

  warnings.warn(message, FutureWarning)

array([1, 0, 1, ..., 0, 0, 0])